<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Others</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Slab&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="../css/general.css">
</head>
<body>
  <div id="content">
    <h1>Others</h1>

    <button onclick="toggleKeyboard()">Play keyboard sounds</button>
  </div>

  <script src="../js/play.js"></script>
  <script src="../js/home.js"></script>

  <script defer src="../js/ie.js"></script>
</body>
</html>