<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Home</title>

  <link rel="stylesheet" href="../css/dashboard_home.css">
</head>
<body>
  <main id="container">
    <ul>
      <li>
        <a href="/dashboard/sounds"><span aria-hidden="true">00</span> Sounds</a>
      </li>
      <li>
        <a href="/dashboard/memes"><span aria-hidden="true">01</span> Memes</a>
      </li>
      <li>
        <a href="/dashboard/extra"><span aria-hidden=true">02</span> Others</a>
      </li>
    </ul>
  </main>

  <script defer src="../js/ie.js"></script>
</body>
</html>