@font-face {
		font-family: "Iosevka";
		src: url("../fonts/iosevka-regular.ttf") format("truetype");
}
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

body {
		background-image: url("../img/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		width: 100%;
		height: 100%;
}

@supports (backdrop-filter: blur(1rem)) {
		#container {
				background: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(1rem);
		}
}
#container {
		font-family: "Iosevka", "Source Code Pro", monospace;
		position: absolute;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.5);
		padding: 50px;
}
#container ul li {
		list-style: none;
}
#container ul li a {
		text-decoration: none;
		color: #333333;
		font-size: 3.5em;
		margin: 15px;
}
#container ul li a span {
		font-weight: 700;
		font-size: 3.7rem;
		user-select: none;
}
#container ul li a:hover {
		text-decoration: underline;
		text-decoration-color: #343434;
}