<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StreamBot</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Slab&display=swap" rel="stylesheet"> 

  <script src="lib/howler.js"></script>

  <link rel="stylesheet" href="css/extra.css">

  <script>
    const socketIoPort = parseInt("<%= socketIoPort %>");
  </script>

  <script defer src="http://localhost:<%= socketIoPort %>/socket.io/socket.io.js"></script>
  <script defer src="js/queue.js"></script>
  <script defer src="js/container.js"></script>
  <script defer src="js/sounds.js"></script>
  <script defer src="js/socket.js"></script>
</head>
<body>
  <main id="container">
  </main>
</body>
</html>