<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Legacy Browser Detected</title>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #container {
      padding: 150px;
    }

    #container h1 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>Error: Legacy Browser Detected</h1>

    <p>We detected that you are using a Legacy Browser like Internet Explorer.<br>We're sorry but you cannot connect with this browser to this website.<br>Please check out new Browsers like Firefox or Vivaldi which are supported by this website.</p>
  </div>
</body>
</html>