@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  width: 100%;
  height: 100%;
}

@supports (backdrop-filter: blur(1rem)) {
  #container {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

#container {
  font-family: "Iosevka", "Source Code Pro", monospace;

  position: absolute;
  top: 50%;
  left: 10%;

  transform: translateY(-50%);

  background: hsl(0 0% 0% / 0.5);
  padding: 50px;

  ul {
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: rgb(51,51,51);
        font-size: 3.5em;

        margin: 15px;

        span {
          font-weight: 700;
          font-size: 3.7rem;
          user-select: none;
        }

        &:hover {
          text-decoration: underline;
          text-decoration-color: rgb(52,52,52);
        }
      }
    }
  }
}