div[data-container] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#trigger {
  text-align: center;
  color: #8b0000;
  animation: pulse 1s infinite;
  transition: .5s;
  font-size: 10em;
  user-select: none;
  font-family: 'Bebas Neue', cursive;
  width: 800px;
  height: 200px;
  letter-spacing: 20px;
  box-shadow: 0px 5px 16px 7px rgba(0,0,0,0.82);
  background-color: rgba(96,96,96, 0.4); 
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  60% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}