@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  width: 100%;
  height: 100%;

  font-family: 'Poppins', sans-serif;
}

#btn-home {
  position: fixed;
  top: 2%;
  right: 2%;

  background: none;
  border: none;
}

@supports (backdrop-filter: blur(1rem)) {
  #container ul li button:hover {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

#content {
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);

  h1 {
    font-size: 5em;
  }

  button {
    width: 700px;
    height: 50px;

    background: none;
    border-color: white;
    border-radius: 35px;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Iosevka";
    cursor: pointer;
    letter-spacing: 5px;
  
    &:hover {
      background: hsl(0 0% 0% / 0.5);
    }
  } 

  ul {
    li {
      margin: 15px;

      list-style: none;
    }
  }
}